/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width:575.99px) {
    header{
    padding: 1px 0;
    

    }
 
 .menu ul li a {
    padding: 1px !important;
     
}
  .banner {
    padding: 20px 9px 20px;
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100px; 
}
.b_text h1 {
    margin-top: 90px;
    font-size: 30px !important;
     
}
  
.b_text p {
    font-size: 14px !important;
     
}
.b_text button {
    
    margin-bottom: 40px;
    padding: 1px 10px 5px !important;
     
}
.b_text button a {
    font-size: 9px !important;
     
}
.f_text h1 {
     
    font-size: 18px;
    
}
.f_text p {
    margin-top: 10px;
    margin-bottom: 70px !important;
    font-size: 14px;
     
} 
.card {
    margin-top: 5px;
    }



.card_text h2 {
    margin-top: 16px;
    margin-bottom: 6px !important;
    font-size: 16px;
     
}
.card_text p {
    
    font-size: 18px;
     
} 

.ps_text h2 {
     
    font-size: 18px;
    
}

.ps_text p {
    
    margin-top: 20px;
    margin-bottom: 20px !important;
    font-size: 18px;
     
}

.card_ps h2 {
    margin-top: -100px;
    font-size: 18px;
     
}

.card_ps p {
    font-size: 18px;
     
}
.button {
    padding: 2px 30px 4px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.g_text{
   margin-top: 60px;
 }
 
.g_text h2 {
    font-size: 25px;
    
}
.g_text p {
    font-size: 14px;
    
}
.g_text button {
    padding: 2px 30px 6px;
    margin-top: 18px;
    margin-bottom: 30px;
     
}
 
.c_text {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid white;
     
}
.st_text h2 {
    margin-top: 50px;
    font-size: 20px;
    
}
.st_text P {
    margin-top: 15px;
    font-size: 12px;
    
}
.c_text h2 {
    font-size: 25px;
     
}

 
 

.tms_text {
     margin-top: 80px;
}
.tms_text p {
    font-size: 13px;
    
}
.tms_text h2 {
    font-size: 20px;
    
}
 

 .contact h2 {
    font-size: 25px;
     
}
.contact p {
    font-size: 14px;
    
}

.c_input {
    height: 40px;
    font-size: 13px;
     
}
.c_submit {
    height: 40px;
    font-size: 10px;
     
}
.f_1 h2 {
    font-size: 25px;
    text-align: center;
    
}
.f_1 p {
    font-family: 'Montserrat', sans-serif; 
    font-size: 14px;
    text-align: center;
    
}
.c_icon {
    margin-bottom: 20px;
    
}
.c_icon ul {
    text-align: center;
    
}
.c_icon ul li a {
    margin-right: 5px;
    font-size: 25px;
     
}
.f_2 h2 {
    font-size: 20px;
    
}
.f_2 p a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
}
footer {
    padding-top: 40px;
    padding-bottom: 40px;
     
}
.f_end p {
    margin-top:15px;
    margin-bottom:15px;
    font-size: 12px;
     

}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
.banner {
    
     min-height: 100px; 
}

 
.b_text h1 { 
    margin-top: 120px;
    font-size: 30px !important;

}
 .b_text p {
    margin-top: 6px;
    font-size: 8px !important;
}
.b_text button {
    padding: 1px 10px 3px !important;
     
}
.b_text button a {
    font-size: 10px !important;
    
}
 
 
.f_text p {
     margin-top: 3px;
    font-size: 30px;
    
}

 .f_text p {
    margin-top: 20px;
    margin-bottom: 45px !important;
    font-size: 20px;
    
}
.card_text p {
    font-size: 12px;
}
.card img {
    padding-top: 25px;
    width: 100%;
}

.card_ps h2 {
    margin-top: -60px;
}

  

.card_ps p {
    
    font-size: 10px !important;
    
}
.button {
    padding: 1px 45px 1px;
     
}



.g_text{
   margin-top: 120px;
 }
 
.g_text h2 {
    font-size: 25px;
    
}
.g_text p {
    font-size: 16px;
    
}
.g_text button {
    padding: 2px 30px 6px;
    margin-top: 18px;
    margin-bottom: 30px;
     
}

.c_text {
    
    border:none;
     
}
.c_text p{
    font-size: 13px;
}
.f_1 h2 {
    font-size: 20px;
    text-align: center;
    
}
.f_1 p {
    font-size: 15px;
    text-align: center;
     
}
.c_icon {
    text-align: center;
    margin-bottom: 40px;
}
.c_icon ul li a {
    margin-right: 10px !important;
    font-size: 20px;
    transition: .8s;
}
.f_2 h2 {
    font-size: 20px;
    
}
.f_2 p a {
    font-size: 12px;
   
}
 
 
 

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px){
header {
    padding: 8px 0;
    
}
.menu ul li a {
    padding: 5px !important;
     
}

.banner {
     
    min-height: 400px;
}
 .b_text h1 {
    margin-top: 1px;
    font-size: 37px !important;
     
     
}
.b_text p {
    
    font-size: 13px !important;
    
}
.b_text button {
    margin-bottom: 50px;
    padding: 2px 20px 5px !important;
     
}
.b_text button a{
    font-size: 10px !important;
}

.button {
    padding: 2px 60px 8px;
    
     
}
.card_ps h2 {
    margin-top: -80px;
    
}
.ps_text p {
    
    font-size: 14px ;
     
}

 .g_text h2 {
    font-size: 25px;
     
}

.g_text {
    margin-top: 160px;
     
}
.g_text p {
    font-size: 15px;
}
.g_text button {
    padding: 3px 40px 10px;
    
}

.f_1 h2 {
    font-size: 20px;
     
}
.f_1 p {
    font-size: 14px;
     
}
.f_2 h2{
     font-size: 20px;
     
}
.f_2 p a {
    font-size: 13px;
     
}
   
 
 
    
}
 

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px){
    .g_text {
    margin-top: 180px;
}
.f_text h1 {
    font-size: 30px;  
}


.button{
  padding: 1px 70px 8px;
   
}
.f_1 p {
     font-size: 20px;
}
 

}
 /*Extra large devices (large desktops, 1200px and up)*/
@media (min-width:1200px) and (max-width: 1399.98px) {
  
 
}

/*Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px){
.button {
    padding: 9px 99px 15px;
 
}


}



   

